.container {
    width: 600px;
    height: 600px;
    background-color: #333;
    position: relative;
}
.clockWise {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 10px;
    width: 43%;
    border-radius: 10px;
    margin: -5px -5px;
    background: #4f44f3;
    transform-origin: 5px 5px;
    transition: transform 1s; 
}
.center {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #fff;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    transform: translate(-50%, -50%);
}